<a href="https://colab.research.google.com/github/anilsolanki2645/Numpy_Basic/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas_Tutorial

## Import libraries

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

## Demo

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## Pandas Series
* A Pandas Series is like a column in a table.

* **Create a simple Pandas Series from a list:**

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

* **Labels**
* If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

* This label can be used to access a specified value.

In [ ]:
print(myvar[0])

1

* **Create Labels**
* With the index argument, you can name your own labels.

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

#When you have created labels, you can access an item by referring to the label.

print("\n",myvar["y"])

x    1
y    7
z    2
dtype: int64

 7

* **Key/Value Objects as Series**::
* You can also use a key/value object, like a dictionary, when creating a Series.

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

* Create a Series using only data from "day1" and "day2":

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## DataFrames
* Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
* Series is like a column, a DataFrame is the whole table.

* **Create a simple Pandas DataFrame:**

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

* **Locate Row**
* As you can see from the result above, the DataFrame is like a table with rows and columns.

* Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

* **Named Indexes**
* With the index argument, you can name your own indexes.

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

* **Locate Named Indexes**
* Use the named index in the loc attribute to return the specified row(s).

In [ ]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

## Load Files Into a DataFrame

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Python/data.csv')

print(df)

      Series_reference   Period  Data_value Suppressed STATUS   UNITS  \
0          BDCQ.SEA1AA  2011.06     80078.0        NaN      F  Number
1          BDCQ.SEA1AA  2011.09     78324.0        NaN      F  Number
2          BDCQ.SEA1AA  2011.12     85850.0        NaN      F  Number
3          BDCQ.SEA1AA  2012.03     90743.0        NaN      F  Number
4          BDCQ.SEA1AA  2012.06     81780.0        NaN      F  Number
...                ...      ...         ...        ...    ...     ...
20249    BDCQ.SEE3999A  2017.06         NaN          Y      C  Number
20250    BDCQ.SEE3999A  2017.09         NaN          Y      C  Number
20251    BDCQ.SEE3999A  2017.12         NaN          Y      C  Number
20252    BDCQ.SEE3999A  2018.03         NaN          Y      C  Number
20253    BDCQ.SEE3999A  2018.06         NaN          Y      C  Number

       Magnitude                         Subject  \
0              0  Business Data Collection - BDC
1              0  Business Data Collection - BDC
2              0  Business Data Collection - BDC
3              0  Business Data Collection - BDC
4              0  Business Data Collection - BDC
...          ...                             ...
20249          0  Business Data Collection - BDC
20250          0  Business Data Collection - BDC
20251          0  Business Data Collection - BDC
20252          0  Business Data Collection - BDC
20253          0  Business Data Collection - BDC

                                              Group  \
0                   Industry by employment variable
1                   Industry by employment variable
2                   Industry by employment variable
3                   Industry by employment variable
4                   Industry by employment variable
...                                             ...
20249  Territorial authority by employment variable
20250  Territorial authority by employment variable
20251  Territorial authority by employment variable
20252  Territorial authority by employment variable
20253  Territorial authority by employment variable

                               Series_title_1  \
0                                 Filled jobs
1                                 Filled jobs
2                                 Filled jobs
3                                 Filled jobs
4                                 Filled jobs
...                                       ...
20249  Filled jobs (workplace location based)
20250  Filled jobs (workplace location based)
20251  Filled jobs (workplace location based)
20252  Filled jobs (workplace location based)
20253  Filled jobs (workplace location based)

                           Series_title_2 Series_title_3  Series_title_4  \
0       Agriculture, Forestry and Fishing         Actual             NaN
1       Agriculture, Forestry and Fishing         Actual             NaN
2       Agriculture, Forestry and Fishing         Actual             NaN
3       Agriculture, Forestry and Fishing         Actual             NaN
4       Agriculture, Forestry and Fishing         Actual             NaN
...                                   ...            ...             ...
20249  Area Outside Territorial Authority         Actual             NaN
20250  Area Outside Territorial Authority         Actual             NaN
20251  Area Outside Territorial Authority         Actual             NaN
20252  Area Outside Territorial Authority         Actual             NaN
20253  Area Outside Territorial Authority         Actual             NaN

       Series_title_5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
20249             NaN
20250             NaN
20251             NaN
20252             NaN
20253             NaN

[20254 rows x 14 columns]